

{% if settings.envType == 'production' %}
  {% assign env = 'pdp' %}
{% elsif settings.envType == 'sandbox' %}
  {% assign env = 'sandbox.pdp' %}
{% endif %}

{% if settings.goEnable %}
  <script>
    window.gaTag = {ga4: "{{ settings.ga4Gokwik }}"}
    window.merchantInfo  = {
            mid: "{{ settings.mid }}",
            environment: "{{ settings.envType }}",
            type: "merchantInfo",
      		storeId: "{{shop.id}}",
      		fbpixel: "{{settings.fbpixel}}",
          }
    var productFormSelector = '';
    var cart = {{ cart | json }}
    var templateName = '{{template.name}}'
  </script>

  <script src="https://{{ env }}.gokwik.co/merchant-integration/build/merchant.integration.js?v4" defer></script>
<script>
   const getCountryData = async() =>{
  const getCountry = await fetch("/browsing_context_suggestions.json");
  const response = await getCountry.json();
  const res = response?.detected_values?.country_name;
  const styleElement = document.createElement("style");
  let css = "";
  switch(res){
    case "India":
      //Enter Selector to disable Shopify and Third Part Button
      css = ".shopifycheckoutbtn{display:none !important;}";
      break;
    default:
      //Enter Gokwik Selector | Dont change it if it is same.
     css = "#gokwik-buy-now{ display : none !important;} .gokwik-checkout{ display : none !important;} .shopifycheckoutbtn{display:block !important;}";
      break;
  }
  styleElement.textContent = css;
  document.head.appendChild(styleElement);
}
document.addEventListener("DOMContentLoaded", getCountryData);
</script>
<script>
    if ('${{ gaTag.ga4 }}' && '${{ gaTag.ga4 }}' !== 'undefined') {
        const script = document.createElement('script');
        script.src = "https://www.googletagmanager.com/gtag/js?id="+ window.gaTag.ga4;
        script.defer = true;
        document.head.appendChild(script);
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', window.gaTag.ga4 ,{ 'groups': 'GA4' });
    }
  </script>



  <script>
    window.addEventListener('gokwikLoaded', e => {
    var buyNowButton = document.getElementById('gokwik-buy-now');
if (buyNowButton) {
    buyNowButton.disabled = false;
    buyNowButton.classList.remove('disabled');
}
      var gokwikCheckoutButtons = document.querySelectorAll('.gokwik-checkout button');
gokwikCheckoutButtons.forEach(function(button) {
    button.disabled = false;
    button.classList.remove('disabled');
});
    //Do Not Touch This Line
    let clicked = false;
    let gokwikAdsID = "{{ settings.gkAdsConfig }}";
    const gokwikCheckoutEnable = (arrayOfElement) => {
      if (arrayOfElement.length === 0) return null;
      if (arrayOfElement.length > 1) {
        arrayOfElement.forEach(data => {
          if (data) {
            let targetElement = document.querySelectorAll(data);
            if (targetElement.length >= 1) {
              targetElement.forEach(element => {
                
                element.addEventListener("click", () => {
                  if (!clicked && gokwikAdsID) {
                    clicked = true;
                    gtag('event', 'conversion', {
                      'send_to': gokwikAdsID.toString().trim(),
                      'value': {{ order.total_price | divided_by: 100.0 }},
                      'currency': '{{ order.shop.currency }}',
                      'transaction_id': '{{ order.order_number }}'
                    });
                  }
                });
              });
            }
          }
        });
      }
    };
    gokwikCheckoutEnable(["#gokwik-buy-now",".gokwik-checkout button"])
    gokwikSdk.on('modal_closed', ()=>{
        clicked = false;
    })

    const targetElement = document.querySelector("body");
      function debounce(func, delay) {
        let timeoutId;
        return function () {
          const context = this;
          const args = arguments;
          clearTimeout(timeoutId);
          timeoutId = setTimeout(function () {
            func.apply(context, args);
          }, delay);
        };
      }

       let gkButtonCode = '<div class="gokwik-checkout"><button type="button" class="" onclick="onCheckoutClick(this)"><span class="btn-text"><span style="text-align: center;">Checkout</span></span><div style="display:none"><div class="cir-loader">Loading..</div></div></button></div>';
  let parsedBtnCode = new DOMParser().parseFromString(gkButtonCode, 'text/html').querySelectorAll('.gokwik-checkout')[0];

      const observer = new MutationObserver(() => {


         let sideCartButtonParent = document.querySelector('.yt-checkout-button');
      let buttonAdded = sideCartButtonParent && sideCartButtonParent.nextElementSibling && sideCartButtonParent.nextElementSibling.classList.contains('gokwik-checkout');
      if (sideCartButtonParent && !buttonAdded) {
        buttonAdded = true;
        sideCartButtonParent.style.display = "none"; // Hide the original checkout button
        // sideCartButtonParent.classList.add('shopifycheckoutbtn');
        const anchor = document.createElement('a');
        anchor.className = 'gokwik-drawer-button shopifycheckoutbtn';
        anchor.href = '/checkout';
        anchor.textContent = 'Checkout';  // optional text inside the button

        sideCartButtonParent.insertAdjacentElement('afterend', anchor);
        sideCartButtonParent.after(parsedBtnCode); // Add the new button
      }
       
console.log('working isnide');
const addToCartButton = document.querySelector("#product-form-product-quickview button[name='add']");
const gokwikBuyNowButton = document.querySelector('#product-form-product-quickview #gokwik-buy-now');
const checkoutBtn = document.querySelector('.m-cart-drawer__footer .gokwik-checkout button');
let newaddtocart=document.querySelector('.m-add-to-cart')?.hasAttribute('disabled');
let gkbuynowbtn=document.querySelector('#gokwik-buy-now');
if(newaddtocart){
gkbuynowbtn?.setAttribute('disabled', 'disabled');
}
else{
gkbuynowbtn?.removeAttribute('disabled');
}

if (addToCartButton && (addToCartButton.disabled || addToCartButton.hasAttribute('disabled'))) {
    gokwikBuyNowButton?.setAttribute('disabled', 'disabled');
} else {
    {% comment %} gokwikBuyNowButton?.removeAttribute('disabled');
    gokwikBuyNowButton.classList.remove('disabled'); {% endcomment %}
    gokwikBuyNowButton?.removeAttribute('disabled');
gokwikBuyNowButton?.classList.remove('disabled');
console.log('gokwikBuyNowButton',gokwikBuyNowButton);
}

if(checkoutBtn){
      checkoutBtn?.removeAttribute('disabled');
checkoutBtn.classList.remove('disabled');
}

        debouncedMyTimer();
      });

      const debouncedMyTimer = debounce(() => {
        observer.disconnect();
        //Do Not Touch this function
    
        gokwikCheckoutEnable(["#gokwik-buy-now",".gokwik-checkout button"])
        var gokwikCheckoutButtons = document.querySelectorAll('.gokwik-checkout button');
gokwikCheckoutButtons.forEach(function(button) {
    button.disabled = false;
    button.classList.remove('disabled');
});
        observer.observe(targetElement, { childList: true, subtree: true });
      }, 700);

      const config = { childList: true, subtree: true };
      observer.observe(targetElement, config);
    });
  </script>

  <script>
  document.addEventListener('DOMContentLoaded', function () {
    setTimeout(function () {
      // First checkbox + button
      var checkboxCart = document.getElementById('cart_agree');
      var buttonCart = document.querySelector('.gkbtn');
      if (checkboxCart && buttonCart) {
        checkboxCart.addEventListener('change', function () {
          if (checkboxCart.checked) {
            buttonCart.classList.add('gkactive');
          } else {
            buttonCart.classList.remove('gkactive');
          }
        });
      }
    },1000);
  });
  </script>
{% endif %}

<style>
  {% if settings.goEnable %}
  .gokwik-checkout {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    {% comment %} margin-bottom: 10px; {% endcomment %}
  }
  .gokwik-checkout button{
    max-width:100%;
    width: 100%;
    border: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: {{ settings.priClr }};
    position: relative;
    cursor: pointer;
    {% comment %} border-radius: 0px; {% endcomment %}
    padding: 5px 10px;
    height:45px;
    border-radius: 12px;
  }
  .gokwik-drawer-button {
    max-width:100%;
    width: 100%;
    border: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: {{ settings.priClr }};
    position: relative;
    cursor: pointer;
    border-radius: 0px;
    padding: 5px 10px;
    height:45px;
    color: {{ settings.secClr }};
    text-transform:uppercase;
    text-align:center;
    padding:15px;
  }
  
  #gokwik-buy-now.disabled, .gokwik-disabled{
    opacity:0.5;
    cursor: not-allowed;
    }
    .gokwik-checkout button:focus {
    outline: none;
  }
  .gokwik-checkout button > span {
    display: flex;
  }
  .gokwik-checkout button > span.btn-text {
    display: flex;
    flex-direction: column;
    color: {{ settings.secClr }};
    align-items: flex-start;
  }
  .gokwik-checkout button > span.btn-text > span:last-child {
  	padding-top: 2px;
      font-size: 10px;
      line-height: 10px;
      text-transform: initial;
  }
  .gokwik-checkout button > span.btn-text > span:first-child {
     font-size: 15px;
  }
  .gokwik-checkout button > span.pay-opt-icon img:first-child {
    margin-right: 10px;
    margin-left: 10px;
  }
  /*   Additional */
  .gokwik-checkout button.disabled{
    opacity:0.5;
    cursor: not-allowed;
    }
  .gokwik-checkout button.disabled .addloadr#btn-loader{
     display: flex!important;
  }
    #gokwik-buy-now.disabled .addloadr#btn-loader{
     display: flex!important;
  }
  #gokwik-buy-now:disabled{
     cursor: not-allowed;
     opacity:0.5;
  }
  .sc-hXyblB .gokwik-checkout button{
    opacity:1;
    pointer-events: auto!important;
  }

.gkbtn{
    opacity:0.5;
    pointer-events:none;
  }
    button.gkactive {
    opacity: 1!important;
    pointer-events: auto!important;
}

shopify-accelerated-checkout{
display: block !important;
}

.m-product-dynamic-checkout.buy-one-click.show-add-to-cart {
width: 100% !important;
}

  {% endif %}

  {% if settings.goBuynowEnable %}
   #gokwik-buy-now {
     background: {{ settings.btnBClr }};
     width: 100%;
     color: {{ settings.btnTextClr }};
     cursor: pointer;
     line-height: 1;
     border: none;
     padding: 15px 10px;
     font-size: 14px;
      margin-block: 10px;
     position:relative;
     font-weight:600;
     border-radius:40px;
     text-transform:uppercase;
   }
   #gokwik-buy-now #btn-loader{
     background: {{ settings.btnBClr }};
     border-radius:40px;
   }


  {% endif %}
  /* Loader CSS */
    #btn-loader{
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      background:{{ settings.priClr }};
      border-radius:0px;

    }

  .cir-loader,
  .cir-loader:after {
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  .cir-loader {
    margin: 6px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.5em solid rgba(255, 255, 255, 0.2);
    border-right: 0.5em solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.5em solid rgba(255, 255, 255, 0.2);
    border-left: 0.5em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
</style>
